# Notebook Setup

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels as sm
import statsmodels.formula.api as smf
import sklearn as sk

In [37]:
df = pd.read_csv('../data/clean-data/cleaned_nys_data.csv')
df_original = df.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233144 entries, 0 to 233143
Data columns (total 20 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   action_taken                       233144 non-null  int64
 1   derived_race                       233144 non-null  object
 2   derived_ethnicity                  233144 non-null  object
 3   applicant_sex                      233144 non-null  int64
 4   applicant_age                      233144 non-null  object
 5   income                             226538 non-null  float64
 6   debt_to_income_ratio               100684 non-null  float64
 7   applicant_credit_score_type        233144 non-null  int64
 8   loan_amount                        233144 non-null  float64
 9   loan_to_value_ratio                224447 non-null  float64
 10  interest_rate                      176143 non-null  float64
 11  rate_spread                        151964 non-null  object
 12  loan_type                          233144 non-null  int64
 13  loan_purpose                       233144 non-null  int64
 14  lien_status                        233144 non-null  int64
 15  property_value                     233144 non-null  float64
 16  occupancy_type                     233144 non-null  int64
 17  tract_minority_population_percent  233144 non-null  float64
 18  aus-1                              233144 non-null  int64
 19  denial_reason-1                    233144 non-null  int64
dtypes: float64(7), int64(9), object(4)
memory usage: 35.6+ MB

/var/folders/ks/s_c55z9517dglyh1tf2y9rhh0000gn/T/ipykernel_60702/1206858015.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/clean-data/cleaned_nys_data.csv')

# Impact Analysis Using HMDA Loan Approval Data

In [72]:
# Selecting Black and White applications and creating variable denoting whether white
df_slice = df.loc[(df['derived_race'] == "Black or African American") | (df['derived_race'] == "White")]
df_race = df_slice.copy()
df_race['binary_race'] = 0
df_race.loc[df_race['derived_race'] == "White", 'binary_race'] = 1

# Transform derived ethnicity to binary column for Hispanic or not
df_race['binary_ethnicity'] = 0
df_race.loc[df_race['derived_ethnicity'] == "Not Hispanic or Latino", 'binary_ethnicity'] = 1

In [81]:
age_map = {'<25': 1, '25-34': 2, '35-44' : 3, '45-54' : 4, '55-64' : 5, '65-74' : 6, '>74' : 7,'8888' : 8}
df_race['age_categorical'] = df_race['applicant_age'].map(age_map)
#

In [82]:
df_race.columns

Index(['action_taken', 'derived_race', 'derived_ethnicity', 'applicant_sex',
       'applicant_age', 'income', 'debt_to_income_ratio',
       'applicant_credit_score_type', 'loan_amount', 'loan_to_value_ratio',
       'interest_rate', 'rate_spread', 'loan_type', 'loan_purpose',
       'lien_status', 'property_value', 'occupancy_type',
       'tract_minority_population_percent', 'aus-1', 'denial_reason-1',
       'binary_race', 'binary_ethnicity', 'age_categorical'],
      dtype='object')

In [88]:
df_race['applicant_age'].value_counts()

applicant_age
35-44    16584
25-34    15798
45-54    13146
55-64    10761
65-74     6047
<25       2150
>74       2126
8888         2
Name: count, dtype: int64

In [86]:
df_race['age_categorical'].value_counts()

age_categorical
3    16584
2    15798
4    13146
5    10761
6     6047
1     2150
7     2126
8        2
Name: count, dtype: int64

In [83]:
df_race[['age_categorical', 'applicant_age']]

        age_categorical applicant_age
0                     4         45-54
2                     2         25-34
3                     2         25-34
6                     3         35-44
7                     2         25-34
...                 ...           ...
233129                4         45-54
233135                4         45-54
233138                3         35-44
233140                5         55-64
233143                3         35-44

[66614 rows x 2 columns]

In [ ]:
# Cleaning rate_spread
df_race = df_race[df_race['rate_spread'] != 'Exempt']
df_race['rate_spread'] = pd.to_numeric(df_race['rate_spread'])

In [73]:
df_race = df_race.dropna()

Model 1: logistic regression that predicts loan outcome
Model 2: loan amount (MLR)
Model 3: interest rate (MLR), rate_spread

## Model 2: loan amount (MLR)

In [90]:
X

,const,tract_minority_population_percent,binary_race,debt_to_income_ratio,income,property_value,applicant_sex,age_categorical,applicant_credit_score_type,loan_to_value_ratio,loan_type,loan_purpose,lien_status,occupancy_type,aus-1
0,1.0,21.09,0,37.0,104.0,405000.0,2,4,1,96.500,2,1,1,1,3
2,1.0,25.74,1,37.0,174.0,755000.0,1,2,2,80.000,1,1,1,1,1
3,1.0,13.10,1,37.0,178.0,615000.0,2,2,2,80.000,1,1,1,1,1
6,1.0,29.25,1,40.0,308.0,575000.0,1,3,1,80.000,1,1,1,1,1
7,1.0,28.19,1,45.0,129.0,465000.0,1,2,3,90.000,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233129,1.0,20.07,1,40.0,248.0,725000.0,1,4,9,69.723,1,2,2,1,6
233135,1.0,8.88,0,38.0,116.0,345000.0,2,4,2,79.412,1,2,2,1,6
233138,1.0,31.05,1,45.0,183.0,1625000.0,2,3,2,30.769,1,2,1,1,6
233140,1.0,29.37,1,41.0,86.0,475000.0,2,5,3,42.110,1,1,1,1,2
233143,1.0,72.08,1,38.0,98.0,355000.0,1,3,3,80.000,1,1,1,1,2

In [95]:
pd.set_option('display.max_rows', 300)  # show all rows

In [ ]:
df_race = df_race.dropna()

X = df_race[['tract_minority_population_percent', "binary_race", "debt_to_income_ratio", 'income', "property_value", 'applicant_sex',
             'applicant_age', 'applicant_credit_score_type', 'loan_to_value_ratio', 'loan_type', 'loan_purpose', 'lien_status', 
             'occupancy_type', 'aus-1']]

X = pd.get_dummies(X, columns=['binary_race', 'applicant_sex', 'applicant_age', 'aus-1', 'occupancy_type', 'applicant_credit_score_type', 'loan_type', 'loan_purpose', 'lien_status'], drop_first=True)
X = X.astype(float)

y = df_race['loan_amount']

X = sm.add_constant(X)

model = sm.OLS(y, X).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            loan_amount   R-squared:                       0.790
Model:                            OLS   Adj. R-squared:                  0.790
Method:                 Least Squares   F-statistic:                     5959.
Date:                Thu, 10 Apr 2025   Prob (F-statistic):               0.00
Time:                        16:26:19   Log-Likelihood:            -8.9893e+05
No. Observations:               66614   AIC:                         1.798e+06
Df Residuals:                   66571   BIC:                         1.798e+06
Df Model:                          42
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                             -2.143e+05   9240.209    -23.188      0.000   -2.32e+05   -1.96e+05
tract_minority_population_percent   497.8228     32.558     15.290      0.000     434.008     561.637
debt_to_income_ratio                859.3158    175.625      4.893      0.000     515.091    1203.541
income                               45.8630      1.924     23.832      0.000      42.091      49.635
property_value                        0.4421      0.001    395.325      0.000       0.440       0.444
loan_to_value_ratio                3908.5292     44.261     88.306      0.000    3821.777    3995.281
binary_race_1                      1.676e+04   2567.425      6.529      0.000    1.17e+04    2.18e+04
applicant_sex_2                   -1.557e+04   1418.140    -10.982      0.000   -1.84e+04   -1.28e+04
applicant_sex_3                   -4877.7971   1.11e+04     -0.440      0.660   -2.66e+04    1.69e+04
applicant_sex_6                    1.542e+04   2.75e+04      0.561      0.574   -3.84e+04    6.92e+04
applicant_age_35-44                 2.21e+04   1993.384     11.089      0.000    1.82e+04     2.6e+04
applicant_age_45-54                1.551e+04   2197.186      7.057      0.000    1.12e+04    1.98e+04
applicant_age_55-64                1.876e+04   2396.573      7.827      0.000    1.41e+04    2.35e+04
applicant_age_65-74                7025.7800   2910.262      2.414      0.016    1321.667    1.27e+04
applicant_age_8888                 5.516e+04   1.24e+05      0.444      0.657   -1.88e+05    2.99e+05
applicant_age_<25                  -5.37e+04   4048.815    -13.263      0.000   -6.16e+04   -4.58e+04
applicant_age_>74                  3444.5079   4302.398      0.801      0.423   -4988.191    1.19e+04
aus-1_2                           -2.239e+04   1952.115    -11.470      0.000   -2.62e+04   -1.86e+04
aus-1_3                            -6.26e+04   4595.412    -13.622      0.000   -7.16e+04   -5.36e+04
aus-1_4                           -1.297e+04    3.5e+04     -0.371      0.711   -8.16e+04    5.56e+04
aus-1_5                           -2.366e+04   4778.758     -4.950      0.000    -3.3e+04   -1.43e+04
aus-1_6                            2.133e+04   2455.959      8.685      0.000    1.65e+04    2.61e+04
aus-1_7                            1.197e+05   5607.714     21.348      0.000    1.09e+05    1.31e+05
occupancy_type_2                   9490.2157   4545.984      2.088      0.037     580.088    1.84e+04
occupancy_type_3                   7480.7330   6523.136      1.147      0.251   -5304.611    2.03e+04
applicant_credit_score_type_2     -1.125e+04   1988.006     -5.661      0.000   -1.52e+04   -7357.745
applicant_credit_score_type_3     -3721.5486   1986.625     -1.873      0.061   -7615.333     172.236
applicant_credit_score_type_4     -4.648e+04   3.95e+04     -1.178      0.239   -1.24e+05    3.09e+04
applicant_credit_score_type_5      7.591e+04   1.76e+05      0.432      0.666   -2.68e+05     4.2e+05
applicant_credit_score_type_6      5.485e+04   5808.802      9.442      0.000    4.35e+04    6.62e+04
applicant_credit_score_type_7      2.669e+04   3878.230      6.881      0.000    1.91e+04    3.43e+04
applicant_credit_score_type_8      3910.3907   3135.774      1.247      0.212   -2235.726    1.01e+04
applicant_credit_score_type_9      6277.2505   2693.026      2.331      0.020     998.920    1.16e+04
applicant_credit_score_type_11    -7.379e+04   1.31e+04     -5.637      0.000   -9.94e+04   -4.81e+04
loan_type_2                        1.272e+04   3904.216      3.259      0.001    5072.631    2.04e+04
loan_type_3                       -5.506e+04   4849.142    -11.354      0.000   -6.46e+04   -4.56e+04
loan_type_4                       -1.218e+05   3.48e+04     -3.497      0.000    -1.9e+05   -5.35e+04
loan_purpose_2                    -5.874e+04   3313.883    -17.726      0.000   -6.52e+04   -5.22e+04
loan_purpose_4                    -5.849e+04   3378.518    -17.313      0.000   -6.51e+04   -5.19e+04
loan_purpose_5                     1.194e+05   1.01e+05      1.177      0.239   -7.95e+04    3.18e+05
loan_purpose_31                   -4.475e+04   3157.368    -14.174      0.000   -5.09e+04   -3.86e+04
loan_purpose_32                   -3.768e+04   2575.783    -14.627      0.000   -4.27e+04   -3.26e+04
lien_status_2                     -2.475e+05   2777.150    -89.128      0.000   -2.53e+05   -2.42e+05
==============================================================================
Omnibus:                    60314.172   Durbin-Watson:                   1.815
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        560299351.555
Skew:                          -2.766   Prob(JB):                         0.00
Kurtosis:                     452.262   Cond. No.                     2.31e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.31e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

## Model 3: interest rate (MLR), rate_spread

In [53]:
df_race.columns

Index(['action_taken', 'derived_race', 'derived_ethnicity', 'applicant_sex',
       'applicant_age', 'income', 'debt_to_income_ratio',
       'applicant_credit_score_type', 'loan_amount', 'loan_to_value_ratio',
       'interest_rate', 'rate_spread', 'loan_type', 'loan_purpose',
       'lien_status', 'property_value', 'occupancy_type',
       'tract_minority_population_percent', 'aus-1', 'denial_reason-1',
       'binary_race', 'binary_ethnicity', 'binary_denied', 'age_categorical'],
      dtype='object')

In [ ]:
X = df_race[['tract_minority_population_percent', "binary_race", "debt_to_income_ratio", 'income', "property_value", 'applicant_sex',
             'applicant_age', 'applicant_credit_score_type', 'loan_to_value_ratio', 'loan_type', 'loan_purpose', 'lien_status', 
             'occupancy_type', 'aus-1']]

X = pd.get_dummies(X, columns=['binary_race', 'applicant_sex', 'applicant_age', 'aus-1', 'occupancy_type', 'applicant_credit_score_type', 'loan_type', 'loan_purpose', 'lien_status'], drop_first=True)
X = X.astype(float)

y = df_race['interest_rate']

X = sm.add_constant(X)

model = sm.OLS(y, X).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          interest_rate   R-squared:                       0.171
Model:                            OLS   Adj. R-squared:                  0.170
Method:                 Least Squares   F-statistic:                     326.7
Date:                Thu, 10 Apr 2025   Prob (F-statistic):               0.00
Time:                        16:27:30   Log-Likelihood:            -1.1545e+05
No. Observations:               66614   AIC:                         2.310e+05
Df Residuals:                   66571   BIC:                         2.314e+05
Df Model:                          42
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                                 5.5347      0.072     76.804      0.000       5.393       5.676
tract_minority_population_percent     0.0013      0.000      5.295      0.000       0.001       0.002
debt_to_income_ratio                  0.0190      0.001     13.905      0.000       0.016       0.022
income                            -4.946e-05    1.5e-05     -3.296      0.001   -7.89e-05      -2e-05
property_value                     -6.17e-08   8.72e-09     -7.075      0.000   -7.88e-08   -4.46e-08
loan_to_value_ratio                   0.0026      0.000      7.553      0.000       0.002       0.003
binary_race_1                         0.0542      0.020      2.706      0.007       0.015       0.093
applicant_sex_2                      -0.0144      0.011     -1.305      0.192      -0.036       0.007
applicant_sex_3                      -0.1376      0.086     -1.592      0.111      -0.307       0.032
applicant_sex_6                       0.1184      0.214      0.553      0.580      -0.301       0.538
applicant_age_35-44                  -0.0029      0.016     -0.189      0.850      -0.033       0.028
applicant_age_45-54                4.786e-05      0.017      0.003      0.998      -0.034       0.034
applicant_age_55-64                  -0.0557      0.019     -2.981      0.003      -0.092      -0.019
applicant_age_65-74                  -0.0119      0.023     -0.526      0.599      -0.056       0.033
applicant_age_8888                    0.5222      0.969      0.539      0.590      -1.376       2.421
applicant_age_<25                     0.0268      0.032      0.850      0.395      -0.035       0.089
applicant_age_>74                    -0.0474      0.034     -1.413      0.158      -0.113       0.018
aus-1_2                              -0.0704      0.015     -4.627      0.000      -0.100      -0.041
aus-1_3                               0.1229      0.036      3.428      0.001       0.053       0.193
aus-1_4                               0.0302      0.273      0.111      0.912      -0.505       0.565
aus-1_5                               1.1612      0.037     31.159      0.000       1.088       1.234
aus-1_6                               0.0045      0.019      0.235      0.814      -0.033       0.042
aus-1_7                              -0.5415      0.044    -12.383      0.000      -0.627      -0.456
occupancy_type_2                      0.1747      0.035      4.928      0.000       0.105       0.244
occupancy_type_3                      0.6480      0.051     12.738      0.000       0.548       0.748
applicant_credit_score_type_2        -0.0633      0.016     -4.083      0.000      -0.094      -0.033
applicant_credit_score_type_3        -0.0509      0.015     -3.286      0.001      -0.081      -0.021
applicant_credit_score_type_4         0.3323      0.308      1.080      0.280      -0.271       0.936
applicant_credit_score_type_5         1.0645      1.370      0.777      0.437      -1.620       3.749
applicant_credit_score_type_6        -0.1593      0.045     -3.515      0.000      -0.248      -0.070
applicant_credit_score_type_7         0.6527      0.030     21.579      0.000       0.593       0.712
applicant_credit_score_type_8         0.5362      0.024     21.926      0.000       0.488       0.584
applicant_credit_score_type_9        -0.0320      0.021     -1.525      0.127      -0.073       0.009
applicant_credit_score_type_11        1.8064      0.102     17.696      0.000       1.606       2.006
loan_type_2                          -0.2747      0.030     -9.022      0.000      -0.334      -0.215
loan_type_3                          -0.2348      0.038     -6.208      0.000      -0.309      -0.161
loan_type_4                           0.1041      0.272      0.383      0.702      -0.428       0.636
loan_purpose_2                       -0.2024      0.026     -7.832      0.000      -0.253      -0.152
loan_purpose_4                        0.0181      0.026      0.685      0.493      -0.034       0.070
loan_purpose_5                       -1.5658      0.791     -1.979      0.048      -3.116      -0.015
loan_purpose_31                      -0.1874      0.025     -7.611      0.000      -0.236      -0.139
loan_purpose_32                       0.3189      0.020     15.876      0.000       0.280       0.358
lien_status_2                         0.8922      0.022     41.192      0.000       0.850       0.935
==============================================================================
Omnibus:                    14383.832   Durbin-Watson:                   1.014
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           105397.614
Skew:                          -0.848   Prob(JB):                         0.00
Kurtosis:                       8.924   Cond. No.                     2.31e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.31e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:

X = df_race[['tract_minority_population_percent', "binary_race", "debt_to_income_ratio", 'income', "property_value", 'applicant_sex',
             'age_categorical', 'applicant_credit_score_type', 'loan_to_value_ratio', 'loan_type', 'loan_purpose', 'lien_status', 
             'occupancy_type', 'aus-1']]

y = df_race['rate_spread']

X = sm.add_constant(X)

model = sm.OLS(y, X).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            rate_spread   R-squared:                       0.043
Model:                            OLS   Adj. R-squared:                  0.043
Method:                 Least Squares   F-statistic:                     161.2
Date:                Thu, 10 Apr 2025   Prob (F-statistic):               0.00
Time:                        15:46:23   Log-Likelihood:                -89164.
No. Observations:               50030   AIC:                         1.784e+05
Df Residuals:                   50015   BIC:                         1.785e+05
Df Model:                          14
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                                -2.0479      0.096    -21.333      0.000      -2.236      -1.860
tract_minority_population_percent     0.0024      0.000      7.766      0.000       0.002       0.003
binary_race                          -0.0157      0.025     -0.640      0.522      -0.064       0.032
debt_to_income_ratio                  0.0151      0.002      9.137      0.000       0.012       0.018
income                             -6.34e-05   1.59e-05     -3.984      0.000   -9.46e-05   -3.22e-05
property_value                    -5.033e-08   1.04e-08     -4.834      0.000   -7.07e-08   -2.99e-08
applicant_sex                         0.0407      0.013      3.211      0.001       0.016       0.066
age_categorical                      -0.0112      0.005     -2.373      0.018      -0.020      -0.002
applicant_credit_score_type           0.0157      0.003      6.208      0.000       0.011       0.021
loan_to_value_ratio                   0.0063      0.000     16.747      0.000       0.006       0.007
loan_type                             0.1014      0.016      6.176      0.000       0.069       0.134
loan_purpose                          0.0082      0.001     14.222      0.000       0.007       0.009
lien_status                           0.6782      0.020     33.523      0.000       0.639       0.718
occupancy_type                        0.3084      0.025     12.163      0.000       0.259       0.358
aus-1                                -0.0445      0.004    -10.997      0.000      -0.052      -0.037
==============================================================================
Omnibus:                    19624.896   Durbin-Watson:                   1.190
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           202274.344
Skew:                          -1.598   Prob(JB):                         0.00
Kurtosis:                      12.318   Cond. No.                     1.31e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.31e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

# Recreation of model 
Train a model based on outcome (denial vs acceptance) using similar predictors
Look for bias in the outcomes of the model -> conclusion about biased data creating biased models in future

In [58]:
from sklearn.model_selection import train_test_split

# select columns that were explicitly approved or denied
filtered_df = df.loc[(df["action_taken"] == 1) | (df["action_taken"] == 2) | (df["action_taken"] == 7) | (df["action_taken"] == 3)]

# remove na values
filtered_df = filtered_df.dropna(subset=["debt_to_income_ratio","income","loan_to_value_ratio","loan_amount","property_value"])

# create binary accepted column
filtered_df["binary_accepted"] = True
filtered_df.loc[filtered_df["action_taken"] == 7, 'binary_accepted'] = False
filtered_df.loc[filtered_df["action_taken"] == 3, 'binary_accepted'] = False
counts = filtered_df['binary_accepted'].value_counts()

# create binary race column - 1 for White
df_slice = filtered_df.loc[(filtered_df['derived_race'] == "Black or African American") | (filtered_df['derived_race'] == "White")]
filtered_df = df_slice.copy()
filtered_df['binary_race'] = 0
filtered_df.loc[filtered_df['derived_race'] == "White", 'binary_race'] = 1

# split data

X = filtered_df[["debt_to_income_ratio","income","loan_to_value_ratio","loan_amount","property_value"]]
y = filtered_df["binary_accepted"]

train, test = train_test_split(filtered_df, test_size=0.2)
X_train, X_test = train[["debt_to_income_ratio","income","loan_to_value_ratio","loan_amount","property_value"]], \
test[["debt_to_income_ratio","income","loan_to_value_ratio","loan_amount","property_value"]] 
y_train, y_test = train["binary_accepted"], test["binary_accepted"]

In [59]:
filtered_df['binary_accepted'].value_counts(), filtered_df['action_taken'].value_counts()

(binary_accepted
 True     73052
 False    11674
 Name: count, dtype: int64,
 action_taken
 1    69923
 3    11612
 2     3129
 7       62
 Name: count, dtype: int64)

Model 1: Logistic Regression

In [60]:
# logistic regression
from sklearn.linear_model import LogisticRegression

lr = sk.linear_model.LogisticRegression(max_iter = 100000)

lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
acc_lr = sk.metrics.accuracy_score(y_pred,y_test)
print(acc_lr)

0.8593768440930013

Model 2: Decision Tree

In [61]:
# decision tree model
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics # check model accuracy

dt = DecisionTreeClassifier()
dt.fit(X_train,y_train)
y_pred = dt.predict(X_test)
acc_dt = metrics.accuracy_score(y_pred,y_test)
print(acc_dt)

0.7810102679098312

Model 3: K-Nearest Neighbors

In [62]:
# knn
from sklearn.neighbors import KNeighborsClassifier # KNN

knc = KNeighborsClassifier(n_neighbors=3) # for k=3
knc.fit(X_train,y_train)
y_pred = knc.predict(X_test)
acc_knn = sk.metrics.accuracy_score(y_pred,y_test)
print(acc_knn)

0.8301664109524372

In [63]:
# plot overall accuracy comparison between models
models = pd.DataFrame({
    'Model': ['Logistic Regression', 'Decision Tree','K-Nearest Neighbours'],
    'Score': [acc_lr, acc_dt, acc_knn]})
models.sort_values(by='Score', ascending=False)

                  Model     Score
0   Logistic Regression  0.859377
2  K-Nearest Neighbours  0.830166
1         Decision Tree  0.781010

In order to test our hypothesis that the HDMA model is biased against Black applicants, we compare the accuracy rates across races for each of the models we trained, which use the same metrics.

In [64]:
# split data and get predictions between Black and white applicants
x_var = ["debt_to_income_ratio","income","loan_to_value_ratio","loan_amount","property_value"]

test_b = test.loc[test['derived_race'] == "Black or African American"]
test_w = test.loc[test['derived_race'] == "White"]

X_test_b, X_test_w = test_b[x_var], test_w[x_var]
y_test_b, y_test_w = test_b['binary_accepted'], test_w['binary_accepted']

# knn
knn_b = knc.predict(X_test_b)
knn_w = knc.predict(X_test_w)

# lr
lr_b = lr.predict(X_test_b)
lr_w = lr.predict(X_test_w)

# dt
dt_b = dt.predict(X_test_b)
dt_w = dt.predict(X_test_w)

In [65]:
# calculate accuracy
# knn
acc_knn_b = sk.metrics.accuracy_score(knn_b, y_test_b)
acc_knn_w = sk.metrics.accuracy_score(knn_w, y_test_w)
knn_diff = acc_knn_w - acc_knn_b
# lr
acc_lr_b = sk.metrics.accuracy_score(lr_b, y_test_b)
acc_lr_w = sk.metrics.accuracy_score(lr_w, y_test_w)
lr_diff = acc_lr_w - acc_lr_b
# dt
acc_dt_b = sk.metrics.accuracy_score(dt_b, y_test_b)
acc_dt_w = sk.metrics.accuracy_score(dt_w, y_test_w)
dt_diff = acc_dt_w - acc_dt_b
# plot differences in accuracy for race between models
models = pd.DataFrame({
    'Model': ['Logistic Regression', 'Decision Tree','K-Nearest Neighbours'],
    'Score': [lr_diff, dt_diff, knn_diff]})
models.sort_values(by='Score', ascending=False)

                  Model     Score
0   Logistic Regression  0.104281
2  K-Nearest Neighbours  0.085135
1         Decision Tree  0.072779

Here we can see the difference in accuracy score between Black and white applicants. The logistic regression model, which was the most accurate overall, also has the highest disparity in terms of race. If they're not already doing so, it would be beneficial for the HMDA algorithm to consider separate values for race as they assess which loans were paid back, etc.

In the section below, we retrain our models to this time include binary race (1 for white, 0 for Black) explicitly as an input. Then, we report on the fairness metrics of each of those models.

In [66]:
import fairlearn
from fairlearn.metrics import demographic_parity_ratio, MetricFrame, selection_rate, false_positive_rate, false_negative_rate
from sklearn import metrics
from sklearn.metrics import accuracy_score

X_train, X_test = train[["debt_to_income_ratio","income","loan_to_value_ratio","loan_amount","property_value", "binary_race"]], \
test[["debt_to_income_ratio","income","loan_to_value_ratio","loan_amount","property_value", "binary_race"]] 

dt_race = DecisionTreeClassifier()
dt_race.fit(X_train,y_train)
y_pred_dt = dt_race.predict(X_test)

knn_race = KNeighborsClassifier(n_neighbors=3)
knn_race.fit(X_train,y_train)
y_pred_knn = knn_race.predict(X_test)

lr_race = sk.linear_model.LogisticRegression(max_iter = 100000)
lr_race.fit(X_train,y_train)
y_pred_lr = lr_race.predict(X_test)

In [67]:
# define fairness metrics
metrics = {
    'accuracy' : accuracy_score,
    'selection rate' : selection_rate,
    'FPR' : false_positive_rate,
    'FNR' : false_negative_rate
}

In [68]:
# Bias report on logistic regression model    
mf_lr = MetricFrame(metrics = metrics, y_true=y_test, y_pred=y_pred_lr, sensitive_features=X_test['binary_race'])
mf_lr.by_group

             accuracy  selection rate       FPR       FNR
binary_race
0            0.766702        1.000000  1.000000  0.000000
1            0.870983        0.999137  0.997936  0.000686

In [69]:
# Bias report on k-nearest neighbors model
mf_knn = MetricFrame(metrics = metrics, y_true=y_test, y_pred=y_pred_knn, sensitive_features=X_test['binary_race'])
mf_knn.by_group

             accuracy  selection rate       FPR       FNR
binary_race
0            0.754507        0.937964  0.893182  0.048409
1            0.839774        0.938313  0.882869  0.053498

In [70]:
# Bias report on decision tree model
mf_dt = MetricFrame(metrics = metrics, y_true=y_test, y_pred=y_pred_dt, sensitive_features=X_test['binary_race'])
mf_dt.by_group

             accuracy  selection rate       FPR       FNR
binary_race
0            0.677094        0.755567  0.668182  0.217842
1            0.796879        0.859031  0.741486  0.123609

In order to illustrate how biased data may negatively affect any models trained on the HDMA dataset, we're creating fake data points to test our own. The following dataframe has a series of fictional applications with baseline values equal to the average for each column. From there, some numbers are adjusted to represent "riskier" debt history, or higher incomes, etc. Each set of values comes in pairs: one Black applicant and one white applicant with exactly the same information. We can say that for Pair 2, there were two different outcomes based solely on race.

In [71]:
# Pair 1: average values
# Pair 2: safer application - less debt, higher income
# Pair 3: safer application - less debt, higher income, lower loan amount
# Pair 4: riskier application - high debt, high loan amount

sample_data = pd.DataFrame({'debt_to_income_ratio': [42.7, 42.7, 35.0, 35.0, 33.0, 33.0, 48.0, 48.0],
                            'income': [145.28, 145.28, 200.28, 200.28, 210.28, 210.28, 145.28, 145.28],
                            'loan_to_value_ratio':[1094.02, 1094.02, 1094.02, 1094.02, 1094.02, 1094.02, 1094.02, 1094.02],
                            'loan_amount': [295623.77, 295623.77, 295623.77, 295623.77, 275000.77, 275000.77, 400000, 400000],
                            'property_value': [561332.65, 561332.65, 561332.65, 561332.65, 561332.65, 561332.65, 561332.65, 561332.65],
                            'binary_race': [0, 1, 0, 1, 0, 1, 0, 1]})

sample_pred = dt_race.predict(sample_data)
print(sample_pred)

[False False False False False False False False]