# Notebook Setup

In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels as sm
import statsmodels.formula.api as smf
import sklearn as sk

In [90]:
df = pd.read_csv('../data/clean-data/cleaned_nys_data.csv')
df_original = df.copy()
df.info()

C:\Users\erin\AppData\Local\Temp\ipykernel_33092\1206858015.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/clean-data/cleaned_nys_data.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233144 entries, 0 to 233143
Data columns (total 20 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   action_taken                       233144 non-null  int64
 1   derived_race                       233144 non-null  object
 2   derived_ethnicity                  233144 non-null  object
 3   applicant_sex                      233144 non-null  int64
 4   applicant_age                      233144 non-null  object
 5   income                             226538 non-null  float64
 6   debt_to_income_ratio               100684 non-null  float64
 7   applicant_credit_score_type        233144 non-null  int64
 8   loan_amount                        233144 non-null  float64
 9   loan_to_value_ratio                224447 non-null  float64
 10  interest_rate                      176143 non-null  float64
 11  rate_spread                        151964 non-null  object
 12  loan_type                          233144 non-null  int64
 13  loan_purpose                       233144 non-null  int64
 14  lien_status                        233144 non-null  int64
 15  property_value                     233144 non-null  float64
 16  occupancy_type                     233144 non-null  int64
 17  tract_minority_population_percent  233144 non-null  float64
 18  aus-1                              233144 non-null  int64
 19  denial_reason-1                    233144 non-null  int64
dtypes: float64(7), int64(9), object(4)
memory usage: 35.6+ MB

# Impact Analysis Using HMDA Loan Approval Data, proxy outcome
regression models (MLR, logistic regression, ML algorithms?) – Victor, Zheka
Keeping predictors similar but testing across different outcome variables (loan amount, interest rate, application outcome)
Switching zip-code with race and testing other outcomes (?)

Model 1: logistic regression that predicts loan outcome
Model 2: loan amount (MLR)
Model 3: interest rate (MLR), rate_spread

In [93]:
df_slice = df.loc[(df['derived_race'] == "Black or African American") | (df['derived_race'] == "White")]
df_race = df_slice.copy()
df_race['binary_race'] = 0
df_race.loc[df_race['derived_race'] == "White", 'binary_race'] = 1

# # transform derived ethnicity to binary column for Hispanic or not
df_race['binary_ethnicity'] = 0
df_race.loc[df_race['derived_ethnicity'] == "Not Hispanic or Latino", 'binary_ethnicity'] = 1

# # create column with 0 for denied applications/preapproval requests and 1 for accepted applications
df_race['binary_denied'] = 0
df_race.loc[(df_race['action_taken'] == 3) | (df_race['action_taken'] == 7), 'binary_denied'] = 1

# # create correlation matrix
df_corr = df_race[['applicant_sex','binary_race','binary_ethnicity','binary_denied']]
df_corr.corr()

                  applicant_sex  binary_race  binary_ethnicity  binary_denied
applicant_sex          1.000000    -0.089703         -0.000775       0.021091
binary_race           -0.089703     1.000000         -0.000189      -0.124504
binary_ethnicity      -0.000775    -0.000189          1.000000      -0.063217
binary_denied          0.021091    -0.124504         -0.063217       1.000000

In [94]:
df.columns

Index(['action_taken', 'derived_race', 'derived_ethnicity', 'applicant_sex',
       'applicant_age', 'income', 'debt_to_income_ratio',
       'applicant_credit_score_type', 'loan_amount', 'loan_to_value_ratio',
       'interest_rate', 'rate_spread', 'loan_type', 'loan_purpose',
       'lien_status', 'property_value', 'occupancy_type',
       'tract_minority_population_percent', 'aus-1', 'denial_reason-1'],
      dtype='object')

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233144 entries, 0 to 233143
Data columns (total 20 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   action_taken                       233144 non-null  int64
 1   derived_race                       233144 non-null  object
 2   derived_ethnicity                  233144 non-null  object
 3   applicant_sex                      233144 non-null  int64
 4   applicant_age                      233144 non-null  object
 5   income                             226538 non-null  float64
 6   debt_to_income_ratio               100684 non-null  float64
 7   applicant_credit_score_type        233144 non-null  int64
 8   loan_amount                        233144 non-null  float64
 9   loan_to_value_ratio                224447 non-null  float64
 10  interest_rate                      176143 non-null  float64
 11  rate_spread                        151964 non-null  object
 12  loan_type                          233144 non-null  int64
 13  loan_purpose                       233144 non-null  int64
 14  lien_status                        233144 non-null  int64
 15  property_value                     233144 non-null  float64
 16  occupancy_type                     233144 non-null  int64
 17  tract_minority_population_percent  233144 non-null  float64
 18  aus-1                              233144 non-null  int64
 19  denial_reason-1                    233144 non-null  int64
dtypes: float64(7), int64(9), object(4)
memory usage: 35.6+ MB

In [96]:
df_race.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200974 entries, 0 to 233143
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   action_taken                       200974 non-null  int64
 1   derived_race                       200974 non-null  object
 2   derived_ethnicity                  200974 non-null  object
 3   applicant_sex                      200974 non-null  int64
 4   applicant_age                      200974 non-null  object
 5   income                             197187 non-null  float64
 6   debt_to_income_ratio               86777 non-null   float64
 7   applicant_credit_score_type        200974 non-null  int64
 8   loan_amount                        200974 non-null  float64
 9   loan_to_value_ratio                193263 non-null  float64
 10  interest_rate                      151991 non-null  float64
 11  rate_spread                        130793 non-null  object
 12  loan_type                          200974 non-null  int64
 13  loan_purpose                       200974 non-null  int64
 14  lien_status                        200974 non-null  int64
 15  property_value                     200974 non-null  float64
 16  occupancy_type                     200974 non-null  int64
 17  tract_minority_population_percent  200974 non-null  float64
 18  aus-1                              200974 non-null  int64
 19  denial_reason-1                    200974 non-null  int64
 20  binary_race                        200974 non-null  int64
 21  binary_ethnicity                   200974 non-null  int64
 22  binary_denied                      200974 non-null  int64
dtypes: float64(7), int64(12), object(4)
memory usage: 36.8+ MB

In [97]:
age_map = {'<25': 1, '25-34': 2, '35-54' : 3, '45-54' : 4, '55-64' : 5, '65-74' : 6, '>74' : 7,'8888' : 8}
df_race['age_categorical'] = df_race['applicant_age'].map(age_map)
#

# Model 1:  logistic regression that predicts loan outcome

Creating binary accepted colum (From ERin/Ellie)

In [100]:
df_race['action_taken'].unique()

array([1, 3, 8, 2, 6, 7], dtype=int64)

In [101]:
selected_df = df_race.loc[(df_race["action_taken"] == 1) | (df_race["action_taken"] == 2) | (df_race["action_taken"] == 3) | (df_race["action_taken"] == 7)]
selected_df = selected_df.copy()
selected_df['binary_accepted'] = selected_df['action_taken'].apply(lambda x: 1 if x in [1,2] else 0)
# Step 2: Create binary_accepted column

In [102]:
print(selected_df['binary_accepted'].unique(), selected_df['action_taken'].unique())

[1 0] [1 3 2 7]

In [103]:
selected_df['action_taken'].value_counts(), selected_df['binary_accepted'].value_counts()

(action_taken
 1    140754
 3     48666
 2      6615
 7       178
 Name: count, dtype: int64,
 binary_accepted
 1    147369
 0     48844
 Name: count, dtype: int64)

In [104]:
selected_df[['binary_accepted', 'action_taken']]
# selected_df

        binary_accepted  action_taken
0                     1             1
1                     1             1
2                     1             1
3                     1             1
6                     1             1
...                 ...           ...
233138                1             1
233139                0             3
233140                1             1
233142                1             1
233143                1             1

[196213 rows x 2 columns]

In [105]:
log_model = smf.logit(formula = 'binary_accepted ~ tract_minority_population_percent + binary_race + debt_to_income_ratio + income + property_value + applicant_sex + age_categorical + applicant_credit_score_type + loan_to_value_ratio + loan_type + loan_purpose + lien_status + occupancy_type',
                       data = selected_df 
            )

results = log_model.fit()
print(results.summary())

C:\Users\erin\anaconda3\Lib\site-packages\statsmodels\discrete\discrete_model.py:2385: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))

Optimization terminated successfully.
         Current function value: 0.384431
         Iterations 15
                           Logit Regression Results
==============================================================================
Dep. Variable:        binary_accepted   No. Observations:                63798
Model:                          Logit   Df Residuals:                    63784
Method:                           MLE   Df Model:                           13
Date:                Wed, 09 Apr 2025   Pseudo R-squ.:                 0.04255
Time:                        11:17:44   Log-Likelihood:                -24526.
converged:                       True   LL-Null:                       -25616.
Covariance Type:            nonrobust   LLR p-value:                     0.000
=====================================================================================================
                                        coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
Intercept                             3.9853      0.165     24.152      0.000       3.662       4.309
tract_minority_population_percent    -0.0052      0.001     -9.924      0.000      -0.006      -0.004
binary_race                           0.4761      0.039     12.330      0.000       0.400       0.552
debt_to_income_ratio                 -0.0044      0.003     -1.467      0.142      -0.010       0.001
income                             1.679e-05   4.29e-05      0.392      0.695   -6.73e-05       0.000
property_value                    -4.537e-09   4.38e-09     -1.037      0.300   -1.31e-08    4.04e-09
applicant_sex                        -0.0711      0.023     -3.134      0.002      -0.115      -0.027
age_categorical                      -0.0596      0.009     -6.948      0.000      -0.076      -0.043
applicant_credit_score_type          -0.0590      0.004    -14.627      0.000      -0.067      -0.051
loan_to_value_ratio                  -0.0031      0.001     -5.558      0.000      -0.004      -0.002
loan_type                            -0.2720      0.030     -9.102      0.000      -0.331      -0.213
loan_purpose                         -0.0148      0.001    -15.540      0.000      -0.017      -0.013
lien_status                          -0.6376      0.028    -22.895      0.000      -0.692      -0.583
occupancy_type                       -0.0932      0.029     -3.162      0.002      -0.151      -0.035
=====================================================================================================

C:\Users\erin\anaconda3\Lib\site-packages\statsmodels\discrete\discrete_model.py:2385: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))

In [106]:
log_model = smf.logit(formula = 'binary_accepted ~  debt_to_income_ratio + income + property_value + applicant_credit_score_type + loan_to_value_ratio + loan_type + loan_purpose + lien_status + occupancy_type',
                       data = selected_df 
            )

results = log_model.fit()
print(results.summary())

C:\Users\erin\anaconda3\Lib\site-packages\statsmodels\discrete\discrete_model.py:2385: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))

Optimization terminated successfully.
         Current function value: 0.387170
         Iterations 15
                           Logit Regression Results
==============================================================================
Dep. Variable:        binary_accepted   No. Observations:                84726
Model:                          Logit   Df Residuals:                    84716
Method:                           MLE   Df Model:                            9
Date:                Wed, 09 Apr 2025   Pseudo R-squ.:                 0.03430
Time:                        11:17:46   Log-Likelihood:                -32803.
converged:                       True   LL-Null:                       -33969.
Covariance Type:            nonrobust   LLR p-value:                     0.000
===============================================================================================
                                  coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                       4.3341      0.129     33.478      0.000       4.080       4.588
debt_to_income_ratio           -0.0119      0.003     -4.636      0.000      -0.017      -0.007
income                          0.0001   6.86e-05      1.717      0.086   -1.67e-05       0.000
property_value              -1.008e-08   7.12e-09     -1.415      0.157    -2.4e-08    3.88e-09
applicant_credit_score_type    -0.0606      0.003    -17.395      0.000      -0.067      -0.054
loan_to_value_ratio            -0.0026      0.000     -5.514      0.000      -0.004      -0.002
loan_type                      -0.2920      0.025    -11.506      0.000      -0.342      -0.242
loan_purpose                   -0.0170      0.001    -20.680      0.000      -0.019      -0.015
lien_status                    -0.7047      0.024    -29.458      0.000      -0.752      -0.658
occupancy_type                 -0.1160      0.025     -4.592      0.000      -0.166      -0.067
===============================================================================================

C:\Users\erin\anaconda3\Lib\site-packages\statsmodels\discrete\discrete_model.py:2385: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))

##### Submodel trained on denials

In [108]:
selected_df = df_race.loc[(df_race["action_taken"] == 3) | (df_race["action_taken"] == 2) | (df_race["action_taken"] == 7)]
selected_df = selected_df.copy()
selected_df['binary_accepted'] = selected_df['action_taken'].apply(lambda x: 1 if x in [1,2] else 0)
# Step 2: Create binary_accepted column
# df_race["binary_accepted"] = df_race["action_taken"].isin([1, 2])

In [109]:
log_model = smf.logit(formula = 'binary_accepted ~ tract_minority_population_percent + binary_race + debt_to_income_ratio + income + property_value + applicant_sex + age_categorical + applicant_credit_score_type + loan_to_value_ratio + loan_type + loan_purpose + lien_status + occupancy_type',
                       data = selected_df 
            )

results = log_model.fit()
print(results.summary())

Optimization terminated successfully.
         Current function value: 0.497354
         Iterations 16
                           Logit Regression Results
==============================================================================
Dep. Variable:        binary_accepted   No. Observations:                11199
Model:                          Logit   Df Residuals:                    11185
Method:                           MLE   Df Model:                           13
Date:                Wed, 09 Apr 2025   Pseudo R-squ.:                 0.04025
Time:                        11:17:46   Log-Likelihood:                -5569.9
converged:                       True   LL-Null:                       -5803.4
Covariance Type:            nonrobust   LLR p-value:                 1.391e-91
=====================================================================================================
                                        coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
Intercept                             0.3207      0.323      0.994      0.320      -0.311       0.953
tract_minority_population_percent     0.0006      0.001      0.606      0.544      -0.001       0.003
binary_race                           0.4344      0.079      5.521      0.000       0.280       0.589
debt_to_income_ratio                  0.0024      0.006      0.413      0.680      -0.009       0.014
income                             1.544e-05      0.000      0.126      0.900      -0.000       0.000
property_value                    -1.537e-09   5.47e-09     -0.281      0.779   -1.22e-08    9.17e-09
applicant_sex                        -0.0889      0.046     -1.931      0.053      -0.179       0.001
age_categorical                       0.0013      0.016      0.080      0.936      -0.031       0.033
applicant_credit_score_type          -0.0347      0.009     -4.068      0.000      -0.051      -0.018
loan_to_value_ratio                  -0.0010      0.001     -1.114      0.265      -0.003       0.001
loan_type                            -0.2870      0.064     -4.475      0.000      -0.413      -0.161
loan_purpose                         -0.0169      0.002     -8.496      0.000      -0.021      -0.013
lien_status                          -0.9159      0.061    -15.011      0.000      -1.035      -0.796
occupancy_type                       -0.0707      0.057     -1.236      0.216      -0.183       0.041
=====================================================================================================

C:\Users\erin\anaconda3\Lib\site-packages\statsmodels\discrete\discrete_model.py:2385: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
C:\Users\erin\anaconda3\Lib\site-packages\statsmodels\discrete\discrete_model.py:2385: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))

## Model 2: loan amount (MLR)

In [111]:
import statsmodels.api as sm
df_race = df_race.dropna()

X = df_race[['tract_minority_population_percent', "binary_race", "debt_to_income_ratio", 'income', "property_value", 'applicant_sex',
             'age_categorical', 'applicant_credit_score_type', 'loan_to_value_ratio', 'loan_type', 'loan_purpose', 'lien_status', 
             'occupancy_type', 'aus-1']]

y = df_race['loan_amount']

X = sm.add_constant(X)

model = sm.OLS(y, X).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            loan_amount   R-squared:                       0.795
Model:                            OLS   Adj. R-squared:                  0.795
Method:                 Least Squares   F-statistic:                 1.383e+04
Date:                Wed, 09 Apr 2025   Prob (F-statistic):               0.00
Time:                        11:17:47   Log-Likelihood:            -6.7282e+05
No. Observations:               50031   AIC:                         1.346e+06
Df Residuals:                   50016   BIC:                         1.346e+06
Df Model:                          14
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                             -1.438e+04   1.12e+04     -1.285      0.199   -3.63e+04    7547.207
tract_minority_population_percent   505.5686     35.870     14.094      0.000     435.263     575.874
binary_race                        1.537e+04   2864.553      5.366      0.000    9756.188     2.1e+04
debt_to_income_ratio                909.1057    192.490      4.723      0.000     531.823    1286.388
income                               44.7759      1.854     24.150      0.000      41.142      48.410
property_value                        0.4529      0.001    373.267      0.000       0.451       0.455
applicant_sex                     -1.133e+04   1478.467     -7.663      0.000   -1.42e+04   -8431.592
age_categorical                    4104.3417    548.930      7.477      0.000    3028.432    5180.251
applicant_credit_score_type        1373.2043    295.047      4.654      0.000     794.909    1951.500
loan_to_value_ratio                4314.6384     43.529     99.121      0.000    4229.321    4399.956
loan_type                         -2.565e+04   1912.399    -13.410      0.000   -2.94e+04   -2.19e+04
loan_purpose                       -553.0605     67.528     -8.190      0.000    -685.417    -420.704
lien_status                        -2.44e+05   2357.573   -103.478      0.000   -2.49e+05   -2.39e+05
occupancy_type                     9119.0688   2954.168      3.087      0.002    3328.866    1.49e+04
aus-1                              1298.4607    471.834      2.752      0.006     373.661    2223.260
==============================================================================
Omnibus:                    36703.093   Durbin-Watson:                   1.795
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        172210587.430
Skew:                           1.852   Prob(JB):                         0.00
Kurtosis:                     290.395   Cond. No.                     1.31e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.31e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

## Model 3: interest rate (MLR), rate_spread

In [113]:
df_race.columns

Index(['action_taken', 'derived_race', 'derived_ethnicity', 'applicant_sex',
       'applicant_age', 'income', 'debt_to_income_ratio',
       'applicant_credit_score_type', 'loan_amount', 'loan_to_value_ratio',
       'interest_rate', 'rate_spread', 'loan_type', 'loan_purpose',
       'lien_status', 'property_value', 'occupancy_type',
       'tract_minority_population_percent', 'aus-1', 'denial_reason-1',
       'binary_race', 'binary_ethnicity', 'binary_denied', 'age_categorical'],
      dtype='object')

In [114]:

df_race = df_race.dropna()
X = df_race[['tract_minority_population_percent', "binary_race", "debt_to_income_ratio", 'income', "property_value", 'applicant_sex',
             'age_categorical', 'applicant_credit_score_type', 'loan_to_value_ratio', 'loan_type', 'loan_purpose', 'lien_status', 
             'occupancy_type', 'aus-1']]

y = df_race['interest_rate']

X = sm.add_constant(X)

model = sm.OLS(y, X).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          interest_rate   R-squared:                       0.108
Model:                            OLS   Adj. R-squared:                  0.108
Method:                 Least Squares   F-statistic:                     432.8
Date:                Wed, 09 Apr 2025   Prob (F-statistic):               0.00
Time:                        11:17:47   Log-Likelihood:                -88591.
No. Observations:               50031   AIC:                         1.772e+05
Df Residuals:                   50016   BIC:                         1.773e+05
Df Model:                          14
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                                 4.1153      0.095     43.364      0.000       3.929       4.301
tract_minority_population_percent     0.0025      0.000      8.121      0.000       0.002       0.003
binary_race                           0.0662      0.024      2.726      0.006       0.019       0.114
debt_to_income_ratio                  0.0212      0.002     12.962      0.000       0.018       0.024
income                            -5.382e-05   1.57e-05     -3.422      0.001   -8.46e-05    -2.3e-05
property_value                    -5.772e-08   1.03e-08     -5.608      0.000   -7.79e-08   -3.75e-08
applicant_sex                        -0.0181      0.013     -1.440      0.150      -0.043       0.007
age_categorical                       0.0003      0.005      0.060      0.952      -0.009       0.009
applicant_credit_score_type           0.0420      0.003     16.774      0.000       0.037       0.047
loan_to_value_ratio                   0.0028      0.000      7.558      0.000       0.002       0.004
loan_type                            -0.1166      0.016     -7.185      0.000      -0.148      -0.085
loan_purpose                          0.0056      0.001      9.703      0.000       0.004       0.007
lien_status                           1.0509      0.020     52.546      0.000       1.012       1.090
occupancy_type                        0.2415      0.025      9.637      0.000       0.192       0.291
aus-1                                -0.0169      0.004     -4.220      0.000      -0.025      -0.009
==============================================================================
Omnibus:                    10752.500   Durbin-Watson:                   0.972
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            83287.660
Skew:                          -0.826   Prob(JB):                         0.00
Kurtosis:                       9.101   Cond. No.                     1.31e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.31e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

In [115]:
df_race.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50031 entries, 0 to 233140
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   action_taken                       50031 non-null  int64
 1   derived_race                       50031 non-null  object
 2   derived_ethnicity                  50031 non-null  object
 3   applicant_sex                      50031 non-null  int64
 4   applicant_age                      50031 non-null  object
 5   income                             50031 non-null  float64
 6   debt_to_income_ratio               50031 non-null  float64
 7   applicant_credit_score_type        50031 non-null  int64
 8   loan_amount                        50031 non-null  float64
 9   loan_to_value_ratio                50031 non-null  float64
 10  interest_rate                      50031 non-null  float64
 11  rate_spread                        50031 non-null  object
 12  loan_type                          50031 non-null  int64
 13  loan_purpose                       50031 non-null  int64
 14  lien_status                        50031 non-null  int64
 15  property_value                     50031 non-null  float64
 16  occupancy_type                     50031 non-null  int64
 17  tract_minority_population_percent  50031 non-null  float64
 18  aus-1                              50031 non-null  int64
 19  denial_reason-1                    50031 non-null  int64
 20  binary_race                        50031 non-null  int64
 21  binary_ethnicity                   50031 non-null  int64
 22  binary_denied                      50031 non-null  int64
 23  age_categorical                    50031 non-null  float64
dtypes: float64(8), int64(12), object(4)
memory usage: 9.5+ MB

In [116]:
df_race = df_race[df_race['rate_spread'] != 'Exempt']
df_race['rate_spread'] = pd.to_numeric(df_race['rate_spread'])

In [117]:

df_race = df_race.dropna()
X = df_race[['tract_minority_population_percent', "binary_race", "debt_to_income_ratio", 'income', "property_value", 'applicant_sex',
             'age_categorical', 'applicant_credit_score_type', 'loan_to_value_ratio', 'loan_type', 'loan_purpose', 'lien_status', 
             'occupancy_type', 'aus-1']]

y = df_race['rate_spread']

X = sm.add_constant(X)

model = sm.OLS(y, X).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            rate_spread   R-squared:                       0.043
Model:                            OLS   Adj. R-squared:                  0.043
Method:                 Least Squares   F-statistic:                     161.2
Date:                Wed, 09 Apr 2025   Prob (F-statistic):               0.00
Time:                        11:17:47   Log-Likelihood:                -89164.
No. Observations:               50030   AIC:                         1.784e+05
Df Residuals:                   50015   BIC:                         1.785e+05
Df Model:                          14
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                                -2.0479      0.096    -21.333      0.000      -2.236      -1.860
tract_minority_population_percent     0.0024      0.000      7.766      0.000       0.002       0.003
binary_race                          -0.0157      0.025     -0.640      0.522      -0.064       0.032
debt_to_income_ratio                  0.0151      0.002      9.137      0.000       0.012       0.018
income                             -6.34e-05   1.59e-05     -3.984      0.000   -9.46e-05   -3.22e-05
property_value                    -5.033e-08   1.04e-08     -4.834      0.000   -7.07e-08   -2.99e-08
applicant_sex                         0.0407      0.013      3.211      0.001       0.016       0.066
age_categorical                      -0.0112      0.005     -2.373      0.018      -0.020      -0.002
applicant_credit_score_type           0.0157      0.003      6.208      0.000       0.011       0.021
loan_to_value_ratio                   0.0063      0.000     16.747      0.000       0.006       0.007
loan_type                             0.1014      0.016      6.176      0.000       0.069       0.134
loan_purpose                          0.0082      0.001     14.222      0.000       0.007       0.009
lien_status                           0.6782      0.020     33.523      0.000       0.639       0.718
occupancy_type                        0.3084      0.025     12.163      0.000       0.259       0.358
aus-1                                -0.0445      0.004    -10.997      0.000      -0.052      -0.037
==============================================================================
Omnibus:                    19624.896   Durbin-Watson:                   1.190
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           202274.344
Skew:                          -1.598   Prob(JB):                         0.00
Kurtosis:                      12.318   Cond. No.                     1.31e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.31e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

# Recreation of model 
Train a model based on outcome (denial vs acceptance) using similar predictors
Look for bias in the outcomes of the model -> conclusion about biased data creating biased models in future

In [119]:
from sklearn.model_selection import train_test_split

# select columns that were explicitly approved or denied
filtered_df = df.loc[(df["action_taken"] == 1) | (df["action_taken"] == 2) | (df["action_taken"] == 7) | (df["action_taken"] == 3)]

# remove na values
filtered_df = filtered_df.dropna(subset=["debt_to_income_ratio","income","loan_to_value_ratio","loan_amount","property_value"])

# create binary accepted column
filtered_df["binary_accepted"] = True
filtered_df.loc[filtered_df["action_taken"] == 7, 'binary_accepted'] = False
filtered_df.loc[filtered_df["action_taken"] == 3, 'binary_accepted'] = False
counts = filtered_df['binary_accepted'].value_counts()

# create binary race column - 1 for White
df_slice = filtered_df.loc[(filtered_df['derived_race'] == "Black or African American") | (filtered_df['derived_race'] == "White")]
filtered_df = df_slice.copy()
filtered_df['binary_race'] = 0
filtered_df.loc[filtered_df['derived_race'] == "White", 'binary_race'] = 1

# split data

X = filtered_df[["debt_to_income_ratio","income","loan_to_value_ratio","loan_amount","property_value"]]
y = filtered_df["binary_accepted"]

train, test = train_test_split(filtered_df, test_size=0.2)
X_train, X_test = train[["debt_to_income_ratio","income","loan_to_value_ratio","loan_amount","property_value"]], \
test[["debt_to_income_ratio","income","loan_to_value_ratio","loan_amount","property_value"]] 
y_train, y_test = train["binary_accepted"], test["binary_accepted"]

In [120]:
filtered_df['binary_accepted'].value_counts(), filtered_df['action_taken'].value_counts()

(binary_accepted
 True     73052
 False    11674
 Name: count, dtype: int64,
 action_taken
 1    69923
 3    11612
 2     3129
 7       62
 Name: count, dtype: int64)

In [121]:
filtered_df[filtered_df['binary_accepted'] == False]

,action_taken,derived_race,derived_ethnicity,applicant_sex,applicant_age,income,debt_to_income_ratio,applicant_credit_score_type,loan_amount,loan_to_value_ratio,...,loan_type,loan_purpose,lien_status,property_value,occupancy_type,tract_minority_population_percent,aus-1,denial_reason-1,binary_accepted,binary_race
186,3,White,Not Hispanic or Latino,2,>74,35.0,49.0,11,155000.0,18.750,...,1,32,1,805000.0,1,41.18,6,4,False,1
228,3,White,Not Hispanic or Latino,1,35-44,181.0,44.0,9,205000.0,89.052,...,1,4,2,715000.0,1,17.34,6,3,False,1
277,3,White,Not Hispanic or Latino,1,55-64,102.0,42.0,2,15000.0,69.499,...,1,32,2,195000.0,1,6.16,6,9,False,1
285,3,White,Not Hispanic or Latino,1,45-54,131.0,48.0,2,25000.0,70.664,...,1,2,2,145000.0,1,6.67,6,9,False,1
323,3,White,Not Hispanic or Latino,2,55-64,292.0,41.0,3,435000.0,95.000,...,1,1,1,455000.0,1,11.40,1,9,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233096,3,White,Not Hispanic or Latino,2,65-74,91.0,44.0,9,85000.0,62.600,...,1,31,2,335000.0,1,8.02,6,3,False,1
233100,3,White,Not Hispanic or Latino,2,35-44,118.0,39.0,3,65000.0,81.471,...,1,4,2,225000.0,1,12.19,6,3,False,1
233106,3,White,Not Hispanic or Latino,2,35-44,132.0,39.0,9,25000.0,88.336,...,1,4,2,145000.0,1,7.11,6,3,False,1
233117,3,White,Hispanic or Latino,1,55-64,271.0,39.0,2,175000.0,89.611,...,1,2,2,955000.0,1,37.53,6,3,False,1
233130,3,White,Not Hispanic or Latino,1,35-44,149.0,45.0,2,225000.0,76.123,...,1,2,2,875000.0,1,25.48,6,4,False,1

Model 1: Logistic Regression

In [123]:
# logistic regression
from sklearn import metrics # check model accuracy

lr = sk.linear_model.LogisticRegression()
lr = LogisticRegression(max_iter=3000)

lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
acc_lr = sk.metrics.accuracy_score(y_pred,y_test)
print(acc_lr)

0.8649238758409064

Model 2: Decision Tree

In [125]:
# decision tree model
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics # check model accuracy

dt = DecisionTreeClassifier()
dt.fit(X_train,y_train)
y_pred = dt.predict(X_test)
acc_dt = metrics.accuracy_score(y_pred,y_test)
print(acc_dt)

0.7850820252566978

Model 3: K-Nearest Neighbors

In [127]:
# knn
from sklearn.neighbors import KNeighborsClassifier # KNN

knc = KNeighborsClassifier(n_neighbors=3) # for k=3
knc.fit(X_train,y_train)
y_pred = knc.predict(X_test)
acc_knn = sk.metrics.accuracy_score(y_pred,y_test)
print(acc_knn)

0.8358904756284669

In [128]:
# plot overall accuracy comparison between models
models = pd.DataFrame({
    'Model': ['Logistic Regression', 'Decision Tree','K-Nearest Neighbours'],
    'Score': [acc_lr, acc_dt, acc_knn]})
models.sort_values(by='Score', ascending=False)

                  Model     Score
0   Logistic Regression  0.864924
2  K-Nearest Neighbours  0.835890
1         Decision Tree  0.785082

Look for algorithmic bias by comparing accuracy rates across races.

In [130]:
# split data and get predictions between men and women
x_var = ["debt_to_income_ratio","income","loan_to_value_ratio","loan_amount","property_value"]

test_b = test.loc[test['derived_race'] == "Black or African American"]
test_w = test.loc[test['derived_race'] == "White"]

X_test_b, X_test_w = test_b[x_var], test_w[x_var]
y_test_b, y_test_w = test_b['binary_accepted'], test_w['binary_accepted']

y_pred_b = knc.predict(X_test_b)
y_pred_w = knc.predict(X_test_w)

In [131]:
# report accuracy
acc_log_b = sk.metrics.accuracy_score(y_pred_b, y_test_b)
acc_log_w = sk.metrics.accuracy_score(y_pred_w, y_test_w)
print('Black or African American: ', acc_log_b)
print('White: ', acc_log_w)

Black or African American:  0.7606659729448492
White:  0.845513844515442

Examine selection, false positive, and false negative rates when model takes race into account

In [133]:
import fairlearn
from fairlearn.metrics import demographic_parity_ratio, MetricFrame, selection_rate, false_positive_rate, false_negative_rate
from sklearn import metrics
from sklearn.metrics import accuracy_score

X_train, X_test = train[["debt_to_income_ratio","income","loan_to_value_ratio","loan_amount","property_value", "binary_race"]], \
test[["debt_to_income_ratio","income","loan_to_value_ratio","loan_amount","property_value", "binary_race"]] 

dt = DecisionTreeClassifier()
dt.fit(X_train,y_train)
y_pred = dt.predict(X_test)
acc_dt = metrics.accuracy_score(y_pred,y_test)

In [134]:
metrics = {
    'accuracy' : accuracy_score,
    'selection rate' : selection_rate,
    'FPR' : false_positive_rate,
    'FNR' : false_negative_rate
}

# sensitive_features is an array (or series)
mf = MetricFrame(metrics = metrics, y_true=y_test, y_pred=y_pred, sensitive_features=X_test['binary_race'])
mf.by_group

             accuracy  selection rate       FPR       FNR
binary_race
0            0.693548        0.772633  0.684466  0.203311
1            0.797191        0.855365  0.733191  0.127224